@bodyBg: #fff;
@bright: #1D71B6;
@dark: darken(@bright, 5%);
@brightText: #fff;
@darkText: #38485a;
@textColor: #747f8c;
@linkColor: @bright;
@brightLinkColor: #44C2CD;
@errorColor: #b94a48;

@screen-lg: 1119px;
@screen-md: 991px;
@screen-sm: 767px;

.pad (@content) {
  @media only screen and (max-width: @screen-lg) {
    @content();
  }
}

.mini-pad (@content) {
  @media only screen and (max-width: @screen-md){
    @content();
  }
}

.mobile (@content) {
  @media only screen and (max-width: @screen-sm) {
    @content();
  }
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
  background-color: @bodyBg;
  color: @textColor;
}

#header {
  border-width: 0;
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: linear;
  
  &.scrolled {
    background: @bright;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    
    .nav>li {
      >a {
        color: @brightText;

        &:hover, &:focus {
          border-top: @brightLinkColor 5px solid;
          background: none;
          color: @brightLinkColor;
        }
      }
    }
  }

  .mobile({
    background: @bright;
  });

  &.ease-out {
    display: block;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
  }

  a {
    height: 80px;
    .mobile({
      height: 40px;
    });
  }

  .navbar-brand {
    background: @bright;
    color: @brightText;
    font-size: 30px;
    line-height: 1.6em;
    font-weight: 900;
    .mobile({
      font-size: 24px;
      line-height: 1em;
    });
  }

  .nav>li {
    >a {
      border-top: transparent 5px solid;
      text-decoration: none;
      line-height: 30px;
      font-size: 16px;
      font-weight: 900;
      text-shadow: none;

      &:hover, &:focus {
        border-top: @bright 5px solid;
        background: none;
      }
    }
  }  
}

#top-slider {
  height: 680px;
  .pad({
    height: 560px;
  });
  .mobile({
    height: 450px;
  });

  background: url(/images/fabric_of_squares_gray.png);

  .row.first {
    margin-top: 160px;
    margin-bottom: 40px;
    .mobile({
      margin-top: 80px;
    });
  }

  h1 {
    font-size: 48px;
    margin-top: 80px;
    color: @darkText;

    .pad({
      font-size: 36px;
      margin-top: 60px;
    });

    .mini-pad({
      font-size: 30px;
    });

    .mobile({
      font-size: 24px;
      margin-top: 20px;
    });
  }

  h2 {
    margin: 30px 0;
    font-size: 24px;
    line-height: 1.6em;
    .pad({
      font-size: 20px;
      margin: 20px 0;
    });

    .mini-pad({
      font-size: 16px;
      margin: 10px 0;
    });

    .mobile({
      display: none;
    });
  }

  a.btn {
    border: none;

    .mobile({
      display: none;
    });

    &.btn-lg {
      border-radius: 3px;
    }

    &.btn-default, &.btn-primary, &.btn-success, &.btn-info, &.btn-warning, &.btn-danger {
      text-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: none;
      filter: none;
    }
  }

  img {
    .pad({
      max-height: 360px;
    });

    .mini-pad({
      max-height: 320px;
    });

    .mobile({
      max-width: 100%;
      height: 250px;
    });
  }

  .right {
    text-align: right;
    .mobile({
      text-align: center;
    });
  }

  .left {
    .mobile({
      text-align: center;
    });
  }

  .slide-container {
    position: relative;
    height: 480px;
    overflow: hidden;
    .pad({
      height: 360px;
    });
    .mobile({
      height: 310px;
    });
  }

  .carousel {
    width: 100%;
    height: 480px;
    .pad({
      height: 360px;
    });
    .mobile({
      height: 310px;
    });
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition-duration: .5s;
    transition-timing-function: linear;

    figure {
      display: block;
      position: absolute;
      width: 100%;
      height: 480px;
      .pad({
        height: 360px;
      });
      .mobile({
        height: 310px;
      });
      backface-visibility: hidden;
      background: @bodyBg url(/images/fabric_of_squares_gray.png);
    }
  }

  .carousel-indicators {
    margin-bottom: -10px;

    li {
      border-color: @bright;
      width: 15px;
      height: 15px;
      margin-left: 8px;
      margin-right: 8px;

      &.active {
        background-color: @bright;
      }
    }
  }
}

#industry {
  padding-top: 30px;
  padding-bottom: 40px;
  .mobile({
    padding-top: 0px;
    padding-bottom: 10px;
    .voffset{
      margin-top: 10px;
    };  
  });

  h1 {
    font-size: 42px;

    .mini-pad({
      font-size: 30px;
    });
    .mobile({
      font-size: 24px;
    });
    
    color: @darkText;
    a {
      float: right;
      font-size: 16px;
      margin-top: 30px;
      .mini-pad({
        margin-top: 16px;
      });
      color: @darkText;

      &:hover {
        color: @bright;
      }
    }
  }

  .case {
    position: relative;
    overflow: hidden;

    .mobile({
      margin-bottom: 10px;
    });

    img {
      width: 100%;
      .mobile({
        width: 25%;
        max-width: 120px;
      });
    }

    .layer {
      position: absolute;
      bottom: 0;
      background: fadeout(@bodyBg, 20%);
      right: 0;
      left: 0;
      overflow: hidden;
      padding: 10px 5px 0 5px;
      .mobile({
        left: 30%;
        top: 0;
        padding: 3px 0 0 0;
        font-size: 12px;
      });

      h5 {
        font-size: 16px;
        margin: 0;
        color: @darkText;
        
        a {
          float: right;
          color: @darkText;
          display: none;
          i {
            color: @darkText;
          }
        }
      }

      hr {
        margin: 7px auto;
        visibility: hidden;
      }
    }

    &:hover {
      .layer {
        background: fadeout(@bodyBg, 5%);

        h5 {
          color: @bright;
          a {
            display: block;
            &:hover {
              color: @bright;
            }
          }
        }

        hr {
          visibility: visible;
        }
      }
    }
  }
}

#join {
  background: @bright url(/images/poly.png) no-repeat 50% 50%;
  height: 150px;
  .mini-pad({
    height: 130px;
  });
  .mobile({
    height: 160px;
    text-align: center;
  });

  h1, h2 {
    color: @brightText;
  }

  h1 {
    font-size: 64px;
    .mini-pad({
      font-size: 48px;
    });
    .mobile({
      font-size: 28px;
    });
  }

  h2 {
    font-size: 24px;
    .mini-pad({
      font-size: 20px;
    });
    .mobile({
      font-size: 14px;
    });
  }

  .btns {
    text-align: right;
    .mobile({
      text-align: center;
    });
  }

  a.btn {
    background: @bodyBg;
    margin-top: 90px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 3px;
    .mini-pad({
      margin-top: 70px;
    });
    .mobile({
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 10px;
    });
    

    &:hover {
      color: @dark;
    }
  }
}

#team {
  padding-top: 30px;
  padding-bottom: 40px;

  .mobile({
    padding-top: 15px;
    padding-bottom: 10px;
    .voffset{
      margin-top: 10px;
    };  
  });

  h1 {
    font-size: 42px;
    .mini-pad({
      font-size: 30px;
    });
    .mobile({
      font-size: 24px;
      margin: 0;
    });
    color: @darkText;
    text-align: center;
  }

  .member {
    text-align: center;
    .mobile({
      text-align: left;
    });
    img {
      width: 200px;
      border-radius: 100px;
      .mini-pad({
        width: 100%;
      });
      .mobile({
        width: 25%;
        max-width: 80px;
        float: left;
      });
    }

    .introduction {
      .mobile({
        max-width: 65%;
        margin-left: 10%;
        float: left;
      });
    }
      
    h5 {
      font-size: 20px;
      font-weight: 900;
      color: @darkText;
      .mobile({
        font-size: 14px;
        margin-top: 3px;
      });
    }

    p {
      text-align: justify;
      .mini-pad({
        font-size: 12px;
      });
    }
  }
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: @darkText;

  h1 {
    color: @brightText;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .nav>li {
    margin: 5px 0 0 0;
    a {
      padding: 0;
      color: lighten(@textColor, 10%);
      &:hover {
        background: none;
        color: lighten(@textColor, 20%);
      }
    }
  }
}

.voffset {
  margin-top: 30px;
}

a {
  color: @linkColor;
  &:hover {
    color: lighten(@linkColor, 5%);
    text-decoration: none;
    cursor: pointer;
  }
}

.content {
  width: 100%;
  position: relative;
}
